#
# Connectivity to Confluent Cloud
#

BOOTSTRAP_SERVER=your bootstrap server
API_KEY=your api key
API_SECRET=your secret

#
# Connector configurations
#

LIBPATH=path-to-jni-sos

# Source config

SOURCE_CONNECTOR_PATH=path-to-plugin_dir
SOURCE_CONNECTOR_QUEUE=queue-name
SOURCE_CONNECTOR_TOPIC=topic-name

# Sink config

SINK_CONNECTOR_PATH=path-to-plugin_dir
SINK_CONNECTOR_QUEUE=queue-nanme
SINK_CONNECTOR_TOPIC=topic-name
